{% extends "_layouts/default.njk" %}

{% block body %}
  <div class="content">
    <a class="btn-back" style="background: none" href="/app/dashboard/"><img src="/images/arrow-left.svg" width="20" height="20" ></a>
    <strong>Agendando horário</strong>


    <div class="provider">
      <div>
        <img src="/files/{{ provider.avatar }}" />
        <strong>{{ provider.name }}</strong>
      </div>
    </div>

    <form action="/app/appointments/new/{{ provider.id }}" method="post">
      <input type="text" class="flatpickr" placeholder="Escolha uma data">

      <div id="hours"></div>
      <!--<input type="text" placeholder="Duração" name="duration" id="duration" />-->
      <input type="text" placeholder="Quantidade de Pessoas" name="people_quantity" id="people_quantity" />
      <label>Duração:</label>
      <select class="select-duration" type="text" placeholder="Duração" name="duration" id="duration">
        <option value="02:00">02:00</option>
        <option value="03:00">03:00</option>
        <option value="04:00">04:00</option>
      </select>
      <button type="submit">Agendar</button>
    </form>
  </div>

  <script type="text/javascript">
    flatpickr('.flatpickr', {
      minDate: new Date(),
      dateFormat: 'd/m/Y',
      onChange: function (date) {
        fetch(`/app/available/{{ provider.id }}?date=${date[0].getTime()}`).then(function (response) {
          response.text().then(function (html) {
            document.getElementById('hours').innerHTML = html
          })
        })
      }
    })
  </script>
{% endblock %}
