{% extends "_layouts/auth.njk" %}

{% block body %}
  <form action="/signin" method="post">
    <img class="main-logo" src="/images/logo.png" height="150" width="150" />

    {% include "_partials/flash.njk" %}

    <input type="email" name="email" placeholder="Seu e-mail">
    <input type="password" name="password" placeholder="Senha secreta">

    <button type="submit">Entrar</button>

    <a href="/signup">Criar conta gráris</a>
  </form>
{% endblock %}
